body{
  background: #eee;
}
.wrapper {
  width: 500px;
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
  margin: 100px auto;
}
h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #000;
}
.weather-form {
  display: none;
}
